global:
  scrape_interval: 15s
  external_labels:
    node: '${inventory_hostname}'

    
scrape_configs:

  - job_name: 'host_metrics'
    file_sd_configs:
      - files:
        - files/targets_host-metrics.json

  - job_name: 'cAdvisor'
    static_configs:
    file_sd_configs:
      - files:
        - files/targets_cadvisor.json     
        
  - job_name: 'victoria_metrics'
    static_configs:
      - targets: [ '${VICTORIA_METRICS_URL}' ]
        labels:
          app: vm
          
  - job_name: 'grafana'
    static_configs:
      - targets: [ '${GRAFANA_METRICS_URL}' ]
        labels:
          app: grafana          
                
  - job_name: 'vm_agent_self'
    static_configs:
      - targets: [ '${inventory_hostname}:8429' ]
        labels:
          app: vmagent
      
#  - job_name: 'windows_exporter'
#    static_configs:
#      - targets: [ '${LAPTOP_X}:9182' ]
#        labels:
#          app: vmagent

     
          

#  - job_name: 'vlagent'
#    static_configs:
#      - targets: ['localhost:9429']
#        labels:
#          app: vlagent
